/* 设置选中函数,。显示一个css3实现的勾 */

// 一个相邻的勾
.setChecked(@c:#FFFFFF) {
    display: inline-block;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid @c;
    border-right: 2px solid @c;
    transform: translate(0, 0) rotate(45deg);
}

// 绝对居中的勾
.setCheckedAbs(@c:#FFFFFF) {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid @c;
    border-right: 2px solid @c;
    transform: translate(-50%, -65%) rotate(45deg);
}